{% extends 'home.html' %}

{% load static %}



{% block contenidos %}

<br>
<br>

<div class="container">
    <h1 class="text-center">Agrega una nuevo Articulo</h1>
<div class="form-group">
<form style=" width: 50vw; margin-left : 15vw;" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <div class="container text-center">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-primary btn-xl" href="{% url 'home' %}">Volver</a>
    </div>
</form>
</div>
</div>

<br>
<br>

<script>
    var name = "{{ user.id }}";
    document.getElementById("usuario_id").value = name;
</script>
{% endblock contenidos %}





