{% extends 'home.html' %}

{% block contenidos %}

<br>
<br>
<br>
<br>
<br>

<div class="container text-center">
    <h1>Cambio de Contraseña</h1>
</div>

<div class="container">
    <form style=" width: 50vw; margin-left : 20vw;" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="container text-center">
        <button type="submit" class="btn btn-primary">Cambiar</button>
        <a class="btn btn-primary btn-xl" href="{% url 'editar_perfil' %}">Volver</a>
        </div>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock contenidos %}